<div class="wrapper">
  <form [formGroup]="formGroupControl" (ngSubmit)="onSubmit()">
    <ng-container formArrayName="dataListArray">
      <ng-container *ngFor="let item of itemsControls; let i = index">
        <div [formGroup]="item">
          <input type="text" formControlName="name">
          <input type="number" formControlName="age">
          <button (click)="removeUserControl(i)">Delete</button>
          <p *ngIf="item.get('name')?.touched && item.hasError('required', ['name'])">Name is required</p>
          <p *ngIf="item.get('age')?.touched && item.hasError('required', ['age'])">Age is required</p>
        </div>
      </ng-container>
    </ng-container>

    <button (click)="addUser()">Add item</button>
    <button type="submit">Submit</button>
  </form>
</div>
