<div class="wrapper">


    <form [formGroup]="formGroupControl" (ngSubmit)="onSubmit(formGroupControl)">
        <div formArrayName="dataListArray">
            <li *ngFor="let elem of formGroupControl.get('dataListArray')?.value; let i = index; trackBy: trackByFn">
                <div [formGroupName]="i">
                    <input formControlName="name">
                    <input formControlName="age">
                    <p style="color:red"
                        *ngIf="formGroupControl.get('dataListArray')?.get('{{i}}')?.get('age')?.invalid">Wrong data</p>
                    <button (click)="removeUserControl(i)">Delete</button>
                </div>
            </li>




        </div>
        <button (click)="addUser()">Add item</button>
        <button type="submit">Submit</button>
    </form>
</div>